// lead class
.lead
    font-size leadFontSize
    line-height leadLineHeight
    color leadTextColor

// Spacing
.remove-bottom
    margin-bottom 0!important

.half-bottom
    margin-bottom 10px!important

.add-bottom
    margin-bottom 20px!important
