// Border radii
border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

// Linear Gradients
linear-gradient()
    -webkit-linear-gradient arguments
    -moz-linear-gradient arguments
    linear-gradient arguments