// General HTML Reset
html, body,
div, span,
article, aside, footer, header, hgroup, nav, section,
h1, h2, h3, h4, h5, h6,
p, a,
abbr, code, kbd, s, output,
em, small, strong,
sub, sup,
ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, thead, tr, th, td,
details, summary,
figure, figcaption,
img, canvas,
audio, video
    margin 0
    padding 0
    border 0
    font-size 100%
    font inherit
    vertical-align baseline

// Makes all of the HTML5 elements that should are supposed to be block, display as block.
article, aside, footer, header, hgroup, nav, section,
details,
figure, figcaption
    display block
