// Tablet grid styles
@media only screen and (min-width:768px) and (max-width:959px)
    .column.alpha, .columns.alpha, .column.omega, .columns.omega
        margin-right 0
        margin-left 10px
    .alpha.omega
        margin-left 0
        margin-right 0

    .container
        width 768px
        .column, .columns
            margin-left 10px
            margin-right 10px
        .one.column, .one.columns
            width 28px
        .two.columns
            width 76px
        .three.columns
            width 124px
        .four.columns
            width 172px
        .five.columns
            width 220px
        .six.columns
            width 268px
        .seven.columns
            width 316px
        .eight.columns
            width 364px
        .nine.columns
            width 412px
        .ten.columns
            width 460px
        .eleven.columns
            width 508px
        .twelve.columns
            width 556px
        .thirteen.columns
            width 604px
        .fourteen.columns
            width 652px
        .fifteen.columns
            width 700px
        .sixteen.columns
            width 748px
        .one-third.column
            width 236px
        .two-thirds.column
            width 492px
        .offset-by-one
            padding-left 48px
        .offset-by-two
            padding-left 96px
        .offset-by-three
            padding-left 144px
        .offset-by-four
            padding-left 192px
        .offset-by-five
            padding-left 240px
        .offset-by-six
            padding-left 288px
        .offset-by-seven
            padding-left 336px
        .offset-by-eight
            padding-left 384px
        .offset-by-nine
            padding-left 432px
        .offset-by-ten
            padding-left 480px
        .offset-by-eleven
            padding-left 528px
        .offset-by-twelve
            padding-left 576px
        .offset-by-thirteen
            padding-left 624px
        .offset-by-fourteen
            padding-left 672px
        .offset-by-fifteen
            padding-left 720px