// Font Families
defaultFontFamily = "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
headingFontFamily = "Georgia","Times New Roman",serif

// Font sizes and line heights
leadFontSize = 21px
leadLineHeight = 27px


// Colors
defaultTextColor = #444
defaultBackgroundColor = #FFF
leadTextColor = #777
headingTitleColor = #222 // Originally #181818

